flask==3.1.1
flask-cors==5.0.1
openai==1.68.2
psycopg[binary]>=3.2,<4
langchain==0.3.23
langchain-core==0.3.51
langchain-openai==0.3.12
langchain-text-splitters==0.3.8
PyMuPDF==1.25.5
python-pptx==1.0.2
markdown==3.7
python-docx==1.1.2
PyJWT==2.9.0
requests==2.32.3
python-dotenv==1.1.0
python-dateutil==2.9.0
beautifulsoup4==4.12.3
feedparser==6.0.11
